.wrapper{
    max-width: 936px;
    margin: 0 auto;
    cursor: crosshair;

}
.bg{
    background: rgb(246, 246, 246);
}
.header{
    border-bottom: 1px solid black;
    padding: 30px 0 30px 225px;
}

.header_nav_ul_text{
    display: inline-block;
    color: grey;
    font-size: 18px;
    font-weight: 400;
    margin-right: 45px;
}
.header_text2{
    margin-right: 0px;
}

.h2_style{
    font-size: 34px;
    font-weight: 700;
    line-height: 46px;
    text-align: center;
    /*text-decoration: underline;*/
}
.article1{
    margin-bottom: 131px;
}
.sect1{
    font-size: 34px;
    font-weight: 700;
    line-height: 46px;
    padding-top: 35px;
    width: 322.15px;
    height: 64.28px;
}
.about_us{
    padding: 60px 0 80px 40px;
}
.sect2{
    width: 201px;
    height: 42.52px;
    margin: 86px 300px 42px 355px;
}
.par_about_us{
    width: 700px;
    height: 50px;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0;
    text-align: center;
    margin: 47px 70px;
}
.articles{
    text-align: center;
}
.articles_advantage{
    margin: 91px 602px 142px 400px;
    text-align: center;
}
.text_about_us{
    margin-top: 82px;
    font-size: 32px;
    text-align: center;
    padding-left: 32px;
}
.h3_about_us{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.article_projects{
    padding-top: 20px;
    padding-bottom: 89px;
}

.sect4{
    margin-top: 118px;
    margin-bottom: 67px;
}
.img_and_text{
    margin-bottom: 116px;
}
.img_projects{
    margin-bottom: 12px;
}
.text_projects{
    font-size: 20px;
}
.footer{
    padding-top: 100px;
}

.contacts{
    margin: 10px 0 86px 0;
}
.sect5{
    margin-bottom: 21px;
}
.text_footer{
    font-size: 18px;
}
.button_div{
    margin-bottom: 20px;
}
.button_button{
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
.icons_footer{
    margin-top: 50px;
    padding-bottom: 167px;
}
.icons{
    margin: 10px 10px 10px 10px;
}